// Place all the styles related to the Replies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#reply {
  padding-top: 36px;
}

.reply_contact {
  padding-top: 18px;
}

.reply_body {
  padding-top: 8px;
  padding-bottom: 8px;
}